.navbar {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-auto-rows: auto;
  background-color: rgb(255, 217, 233);
  text-align: center;
  padding: 10px;
}

.body {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-auto-rows: auto;
  column-gap: 20px;
  padding: 15px;

}

h2 {
    color: black;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  
body {
    background-color: rgb(255, 234, 253);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  
p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: justify
}
