.navbar {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: rgb(207, 226, 241);
  padding: 10px;
}

.body {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-auto-rows: 0%;
  background-color: aliceblue;
  padding: 10px;
}

body {
  background-color: aliceblue;
  text-align: center;
}

  h1 {
    color: black;
    text-align: center;
  }