body {
    margin: 5%;
    text-align: justify;
    padding: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

html, body {
    width: 100%;
    height: 105%;
    padding: 0;
    margin: 0px;
}

slider {
    display: block;
    width: 100%;
    height: 105%;
    background-color: #99999900;
    overflow: hidden;
    position: absolute;
}

slider > * {
    position: absolute;
    width: 100%;
    height: 80%;
    background: #8d8d8d;
    animation: slide 12s infinite;
    overflow: hidden;
}

slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
    background-image: url(blackkk.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(2){
    animation-delay: 2s;
    background-image: url(bh.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(3){
    animation-delay: 5s;
    background-image: url(hampton.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(4){
    left: 0%;
    animation-delay: 8s;
    background-image: url(logo.jpg);
    background-size: cover;
    background-position: center;
}

slide p {
    font-family: Comfortaa;
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 340px;
    color: #fff;
}

@keyframes slide {
    0% { left: 100%; width: 100%; }
    5% { left: 0%; }
    25% { left: 0%; }
    30% { left: -100%; width: 100%; }
    30.0001% { left: -100%; width: 0%; }
    100% { left: 100%; width: 0%; }
}

img {
    float: justify;
    margin: 2%;
}
div {
    column-count: 2;
    column-width: 60% 40%;
  }

h1 {
    font-family: Arial;
    background-color: rgba(240, 248, 255, 0) ;
    text-align: center;
}
p {
    margin: 5%;
    text-align: justify;
}

table {
    border-collapse: collapse;
    border-style: none;
}
  
th,td {
    margin: 5%;
    border-style: none;
    vertical-align: top;
    padding: 15px;
}

table.a {     
}

div.polaroid {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }


.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 9%;
    background-color: #e7e7e7;
    text-align: center;

}


.parallax {
/* The image used */
background-image: url("brocky.jpg");

/* Set a specific height */
min-height: 500px; 

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}