
/* Navbar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* Slideshow */

html, body {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 105%;
    padding: 0;
    margin: 0px;
}

slider {
    display: block;
    width: 100%;
    height: 105%;
    background-color: #99999900;
    overflow: hidden;
    position: absolute;
}

slider > * {
    position: absolute;
    width: 100%;
    height: 80%;
    background: #8d8d8d;
    animation: slide 12s infinite;
    overflow: hidden;
}

slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
    background-image: url(blackkk.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(2){
    animation-delay: 2s;
    background-image: url(bh.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(3){
    animation-delay: 5s;
    background-image: url(hampton.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(4){
    left: 0%;
    animation-delay: 8s;
    background-image: url(logo.jpg);
    background-size: cover;
    background-position: center;
}

slide p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 340px;
    color: #fff;
}

@keyframes slide {
    0% { left: 100%; width: 100%; }
    5% { left: 0%; }
    25% { left: 0%; }
    30% { left: -100%; width: 100%; }
    30.0001% { left: -100%; width: 0%; }
    100% { left: 100%; width: 0%; }
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 270%;
    background-color: rgba(240, 248, 255, 0) ;
    text-align: center;
}

body {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    margin: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

/* Tables For Layouts */

table {
    border-collapse: collapse;
    border-style: none;
}
  
th,td {
    margin: 5%;
    border-style: none;
    vertical-align: top;
    padding: 15px;
}

/* white border thing */

div.polaroid {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }

/* Footer */

.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 9%;
    background-color: #e7e7e7;
    text-align: center;
}

/* Parallax Scrolling effect/affect?? */

.parallax {
background-image: url("brocky.jpg");
min-height: 65%; 
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


/* Colour Split on Social Media Page */

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 7;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: rgb(17, 17, 17);
  }
  
  #logo{
    width: 150%;
    height: 200%;
  }
  
  .right {
    right: 0;
    background-color: rgb(77, 189, 218);
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  /* Social Media Icons */
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-twitter {
    background: rgba(255, 255, 255, 0);
    color: white;
  }
  
  .fa-youtube {
    background: #7c2a2a00;
    color: white;
  }
  
  .fa-instagram {
    background: #ffffff00;
    color: white;
  }
  
  .fa-soundcloud {
    background: #ff550000;
    color: white;
  }
  