* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: left;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(154, 210, 255);
}
.body {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-auto-rows: auto;
  column-gap: 20px;
  padding: 15px;

}

h2 {
    color: black;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  
body {
    background-color: rgb(255, 234, 253);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  
p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: justify
}
